-if @current_page > 1
  =link_to("&larr; Previous", {:controller => :favorites, :action => :index, :page => @current_page - 1, :tag => @tag, :account => @account}, :class => "prev")
= "  Page #{@current_page} of #{@max_page}  "
-if @current_page < @max_page
  =link_to("Next &rarr;", {:controller => :favorites, :action => :index, :page => @current_page + 1, :tag => @tag, :account => @account}, :class => "next")