#tag_list
  %h2
    %a{:href => "/favorites/tags"} Tags
    =" (#{current_user.tags.count})"
  %ul.listed_tags
    -if current_user.tags.empty?
      %li
        Why not add some tags?
    -else
      -current_user.tags[0..19].each do |tag|
        %li
          =link_to tag.name, {:action => :index, :tag => tag.url}, {:title => "view all tweets tagged '#{tag.name}'"}
      - if current_user.tags.count > 20
        %li
          - more = current_user.tags.count - 20
          - if more > 1
            %a{:href => "/favorites/tags"} + #{more} more tags
          - else
            %a{:href => "/favorites/tags"} + #{more} more tag
        