.page-header
  %h2= "Faved Accounts"
  
=render :partial => "tabs"

.account_list
  -@accounts.each do |account|
    %p 
      = link_to account[:name], :controller => 'favorites', :action => 'index', :account => account[:name]
      = "(#{account[:count]})"