.page-header
  %h2 Load favorites
    
#section
  %article
    .text_panel
      %p
        You are about to load your favorites from Twitter.
        
      %p
        Twitter allows you a limited number of API calls per hour. You currently have 
        
        -api_calls = @current_user.api_calls()        
        
        %strong #{api_calls.remaining_hits}
        
        left.
        
        - if api_calls.remaining_hits.to_i < api_calls.hourly_limit.to_i
          %br
          Your API calls will be reset at #{api_calls.reset_time}.
        
      %p
        - if @current_user.favorites.count == 0
          You are about to load all your favorites :)
        - else
          Each set of 20 favorites that you load will cost you 1 API call. You are currently set to load #{@current_user.pages_to_load} sets of 20 at a time (but you can 
          %a{:href => "/account"}
            change this
          if you want)
        
      - form_tag('/favorites/load') do
        %input{:type => 'submit', :class => 'btn primary', :value => 'OK, load my favorites'}