.page-header
  %h2 Create new tag

%br
- form_tag('/favorites/new_tag') do
  %div.tags
    =hidden_field_tag :faves, @tweets.join(",")
    =hidden_field_tag :page, params[:page]
    =hidden_field_tag :from, params[:from]
    =text_field_tag :tag_name, "", :size => 10, :value => @fail_tag
    =submit_tag "Create", {:class => "btn primary"}
    
  - if @fail_tag
    %p.warn
      Tag names can only consist of letters, numbers, spaces and hyphens
      