#page_head
  %h2 Create new tag

%br
- form_tag('/favorites/new_tag') do
  %div.tags
    =hidden_field_tag :faves, @tweets.join(",")
    =hidden_field_tag :page, params[:page]
    =hidden_field_tag :from, params[:from]
    =text_field_tag :tag_name, "", :size => 10
    =submit_tag :create
      