=spacing
  padding: 1em 0

a
  text-decoration: none

h1
  font-weight: bold

ul.menu
  
  li
    padding-right: 1.5em
    float: left

ul.tweets 
  float:left
  
  li
    float:left

div.timeline
  float:left
  padding-top: 1em
  
  div.tweet
    float: left
    padding: 1em 0
    border-top: 1px solid black
    clear: both
  
    .tweep
      width: 8em
      float: left
  
    .tweet_body
      width: 30em
      float: left
      border-left: 1px solid darkgray
      padding-left: 1em
    
      .tweet_date
        width: 30em
        color: silver
        padding-right: 0.5em
        text-align: right
        float: right

#hd
  +spacing
  font-size: 138.5%

#bd
  +spacing
  font-size: 138.5%

#ft
  +spacing
  font-size: 138.5%