body
  font-family: Helvetica, Verdana, Arial, sans-serif
  font-size: 12pt

#doc
  width: 750px
  font-size: 0.8em

=spacing
  padding: 1em 0

a
  text-decoration: none
  
a:hover
  text-decoration: underline

strong
  font-weight: bold

p
  margin: 1em 0

h1
  font-weight: bold
  text-align: center
  width: 100%
  
h2
  font-size: 1em
  display: inline

ul.menu
  list-style:none
  float: left
  
  li
    padding-right: 1em
    float: left

ul.tweets 
  list-style:none
  float: left
  
  li
    float: left

div#navbar
  width: 100%
  float: left

div.faves
  font-size: 0.85em
  width: 570px
  margin-right: 15px
  float: left
  
div.tag_list
  width: 140px
  border: 6px solid silver
  border-bottom: 10px solid silver
  float: right
  
  h2
    display: block
    margin: 0
    background-color: silver
    text-align: center
    font-size: 0.8em
    padding: 0.5em
  
  ul
    list-style: none
    padding: 0
    margin: 0
    border-left: 1px solid darkgrey
    border-right: 1px solid white
    border-bottom: 1px solid white
  
  li
    font-size: 0.8em
    padding: 0.4em
    border-top: 1px solid darkgrey
    background-color: #ebf0f2
    
    a
      color: black

div.timeline
  float: left
  
  div.tweet
    width: 570px
    float: left
    padding: 1em 0
    border-bottom: 1px dotted silver
    clear: both
  
    .twitterer
      font-weight: bold
      padding-right: 0.25em
      
    .tweet_selection
      width: 20px
      
    .tweet_body
      width: 400px
      float: left
    
      .tweet_text
        width: 100%
        clear: both
    
      .tweet_date
        width: 100%
        display: block
        color: gray
        margin-top: 0.3em
        text-align: left
        float: left
        font-size: 0.9em
        
      .twitter_link
        width: 100%
        display: block
        
ul.tags
  width: 100%
  list-style: none
  margin: 0
  padding: 0

  li
    font-size: 0.8em
    float: left
    padding: 0.2em 0 0.2em 0.5em
    margin-right: 0.5em
    margin-top: 0.4em
    border-radius: 6px
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    background-color: silver
  
    .remove_tag
      border-left: white 2px solid
    
      a
        padding: 0.2em 0.5em
        color: black
      
      a:hover
        border-radius: 6px
        -moz-border-radius-topright: 6px
        -moz-border-radius-bottomright: 6px
        -webkit-border-top-right-radius: 6px
        -webkit-border-bottom-right-radius: 6px
        background-color: black
        color: silver
        text-decoration: none
      

div.tweet_selection
  float: left
  padding: 0 0.4em
      
div.page_info
  float: left
  width: 100%
  clear: both
  padding: 0.5em 0
  text-align: center
  background-color: silver
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px


div.controls
  background-color: silver
  
.loading_message
  clear: both
  float: left
  border: 1px solid black
  background-color: #FFFCEB
  margin-top: 1em
  padding: 0.5em

#header
  +spacing
  font-size: 138.5%

#bd
  +spacing
  font-size: 138.5%

#footer
  +spacing
  font-size: 138.5%