.page-header
  %h2
    Account Settings
    
#section
  %article
    .well
      %h3
        Download your favorites
      %p
        It's your data, you should be able to keep it :)
      %p
        %a{:href => "/favorites.xml", :class => "btn primary"} Download XML
        &nbsp;&nbsp;
        %a{:href => "/favorites.json", :class => "btn primary"} Download JSON
    
    .well
      %h3
        API calls
      %p
        You currently have 
        
        -api_calls = @current_user.api_calls()
        
        %strong #{api_calls[:remaining_hits]}
        
        Twitter API calls left for this hour.
        
        - if api_calls[:remaining_hits].to_i < api_calls[:hourly_limit].to_i
          Your API calls will be reset at #{api_calls[:reset_time]}.
    
    .well
      %h3
        Settings
      - form_tag('/account') do
        %table
          %tr
            %td
              Pages of tweets to load
            %td
              %input{:id => "tweets", :name => "tweets", :type => 'text', :size => 2, :maxlen => '2', :value => current_user.pages_to_load}
          %tr
            %td
              Autocreate tags from hashtags
            %td
              =check_box_tag("autocreate", "1", checked = current_user.autocreate_tags, options = {})
          %tr
            %td{:colspan => "2"}
              %input{:type => "submit", :class => "btn primary", :value => 'Save settings'}
    
    .well
      %h3
        Control your Twitter account
      %p
        %a{:href => "http://twitter.com/account/connections"}
          Edit your Twitter account connections on twitter.com
        
    .well
      %h3
        Leave Favtagger
      %p
        Was it something we said? Sorry about that.
      %p
        You can go if you really want to though (we'll erase any data we hold about you)
      %p
        %a{:href => "close_account", :class => "btn danger"} Delete Account