.page-header
  %h2 Rename tag
 
- form_tag do
  %p
    - if @error
      %p= @error
    ="New name for \"<b>#{params[:tag]}</b>\":"
    =hidden_field_tag :tag, params[:tag]
    =text_field_tag :new_name
    =submit_tag :rename, {:class => "btn primary"}