#section
  %article
    %p
      %a{:href => "http://robertbrook.com"} Robert Brook
      &mdash; tea, encouragement, github commits, HTML5 help

    %p
      %a{:href => "http://www.komodomedia.com"} Rogie @ Komodo Media
      &mdash; creating the
      %a{:href => "http://www.komodomedia.com/blog/2009/06/sign-in-with-twitter-facebook-and-openid/"} 'Sign in with Twitter' button
      and making it available via a 
      %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons Attribution license