.page-header
  %h2
    Bye!
    
#section
  %article
    .text_box
      Your data has been erased. You should go to 
      %a{:href => "http://twitter.com/account/connections"}
        your Twitter Connections page
      to revoke Favtagger's access to your account