#section
  %article
    .text_panel
      %p Got <a href="http://twitter.com">Twitter</a> account?
  
      %p Use favorites?
  
      %p Ever look at your favorites list and think, "if only I could organise this somehow"?
  
      %p This online app is for you!