<!DOCTYPE html>
<html lang="en-GB">
<head>
  <style type="text/css" media="screen, projection">
    @import url("/stylesheets/screen.css");
  </style>
</head>
<body id="favtags-heroku-com">
  <%= yield %>
</body>
</html>  