<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title Favtags
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    = stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
  %body{:id=>"favtags-heroku-com"}
    #doc.yui-t7
      #hd{:role=>"banner"}
        %h1 Favtags
      #bd{:role=>"main"}
        %div.yui-g= yield
      #ft{:role=>"contentinfo"}
        %p
          %a{:href=>"http://github.com/lizconlan/favtags"}
            http://github.com/lizconlan/favtags
